To create a dev environment for ruck

1. Build the dev container from the main directory, run:

    tools/build-container.sh

2. To run the dev container from the main directory, run:

    tools/run-container.sh-

== Building ruck ==

1. Install tiler

    PBR_VERSION=1.2.3 pip3 install -e . --break-system-packages

2. Run ruck

   ruck help

== Building an ostree branch == 

To build an ostree branch.

1. cd config/uefi-ostree

2. ruck build --config image.yaml

